.paint-toolbar ion-button {
    --background: var(--ion-color-light);
    --background-hover: var(--ion-color-light-tint);
    --background-focused: var(--ion-color-light-shade);
    --color: var(--ion-color-primary);
    --font-size: 1.2em;
    --padding-start: 1.2em;
    --padding-end: 1.2em;
    --padding-top: 1.2em;
    --padding-bottom: 1.2em;
    
  }

.paint-toolbar ion-button:focus {
    --background: #005a96;
    --color: white;
  }

.paint-toolbar ion-col{
    text-align: center;
}

.paint-toolbar ion-grid{
    --ion-grid-width: 75%;
      
}

.hidden {
    visibility: hidden;
    height: 0;
    overflow: hidden;
}
.visible {
    visibility: visible;
    height: auto;
}