default_language_version:
    python: python3
exclude: 'docs'
repos:
    - repo: https://github.com/psf/black
      rev: 24.3.0
      hooks:
          - id: black
            args: ['--line-length=120']
            files: '(\.pyi?|wscript|ipynb)$'
            additional_dependencies: ['click==8.0.4']
            stages: [pre-commit]
    - repo: https://github.com/pycqa/flake8
      rev: 7.0.0
      hooks:
          - id: flake8
            args: ['--config', '.flake8']
            stages: [pre-commit]
    - repo: https://github.com/timothycrosley/isort
      rev: 5.13.2
      hooks:
          - id: isort
            args: ['--profile', 'black']
            stages: [pre-commit]
    - repo: https://github.com/econchick/interrogate
      rev: 1.7.0
      hooks:
          - id: interrogate
            args: [-vv, -i, --fail-under=80, --ignore-module]
            stages: [pre-commit]
    - repo: https://github.com/pre-commit/mirrors-eslint
      rev: 'v9.0.0'  # Use the sha / tag you want to point at
      hooks:
          - id: eslint
            name: eslint
            entry: eslint --config .eslintrc.json --fix
            files: ^src/
            types_or: [javascript, jsx, ts, tsx]
            always_run: true
            language: node
            stages: [pre-commit]
            additional_dependencies: [
              "@typescript-eslint/eslint-plugin@^5.59.7",
              "@typescript-eslint/parser@^5.59.7",
              "eslint@^8.41.0",
              "eslint-config-airbnb@^19.0.4",
              "eslint-config-airbnb-typescript@^17.0.0",
              "eslint-config-prettier@^8.8.0",
              "eslint-config-standard-with-typescript@^34.0.1",
              "eslint-import-resolver-typescript@^3.5.5",
              "eslint-plugin-import@^2.27.5",
              "eslint-plugin-jsx-a11y@^6.7.1",
              "eslint-plugin-n@^15.7.0",
              "eslint-plugin-prettier@^4.2.1",
              "eslint-plugin-promise@^6.1.1",
              "eslint-plugin-react@^7.32.2",
              "eslint-plugin-react-hooks@^4.6.0"]
            stages: [pre-commit]
    - repo: https://github.com/jorisroovers/gitlint
      rev: 'v0.19.1'
      hooks:
            - id: gitlint
              name: gitlint
              language: python
              entry: gitlint
              args: [--staged, --msg-filename]
              stages: [commit-msg]
