werkzeug==2.0.3 #there seems to be some bug on the newer versions that randomly causes 405 responses
flask
flask-cors
jinja2
sscIO==0.1.4.4
sscPySpin
sscDeepsirius
ssc-remotevis
sentry-sdk
opencv-python
