/**
Load Annotation component used in AnnotationLoadDialog.tsx
Used this site as reference
https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/
https://www.youtube.com/watch?v=ZCrQjk6PdK0&ab_channel=SimonGrimm
 */
.annot-load-popover::part(content) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
}

/**
Save Annotation used in AnnotationSaveDialog.tsx
 */
.annot-save-popover::part(content) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
}