/**
This script is used for the css components for bootstrap-tables used in SamplingComp.tsx
 */

@import '../theme/variables.css';

/**
css for Data, Label and Weight bootstrap-table
 */
.label-table-dataset {
    height: 20em;
    table-layout: fixed;
    word-wrap: break-word;
    overflow-y: auto;
}

/**
Ion-item used in each row of bootstrap-table in SamplingComp.tsx
 */
.ion-item-table {
    --ion-item-background: transparent !important;
    --ion-border-color: transparent !important;
    display: inline-flex !important;
}

/**
css for Data, Label and Weight bootstrap-table
 */
.label-table-active {
    background-color: var(--ion-color-primary);
}

/**
css for Data, Label and Weight bootstrap-table
 */
.label-table-active ion-label {
    color: white;
    font-weight: 600;
}
