@import '../../../../theme/variables.css';

.round-bar {
    margin-left: 8px;
    margin-right: 8px;
    width: 64px;
    height: 18px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background: red;
}

.label-table {
    height: 20em;
    overflow-y: auto;
}

.label-table-active {
    background-color: var(--ion-color-primary);
}

.label-table-active ion-label {
    color: #0054e6;
    font-weight: 600;
}
