/**
Component used for "Dataset" in "deep learning"
This is the link i used as reference to change this component
https://www.damirscorner.com/blog/posts/20220204-PositioningIonicPopovers.html
https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/
Also, this video can help in any case too
https://www.youtube.com/watch?v=ZCrQjk6PdK0
 */
.file-popover-dataset::part(content) {
    position: fixed;
    top: 0 !important;
    left: 50%;
    --width: 70%;
    --max-height: 92%;
    transform: translate(-50%, 3%) !important;
}

/**
Component used in ion-popover in SamplingComp.tsx
 */
.add-menu {
    --width: 25%;
    --max-height: 33%;
}

/**
Component used to show the preview menu in AugmentationComp.tsx
 */
.preview-popover {
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%) !important;
}

/**
Component used in ion-popover in SamplingComp.tsx to delete an element of Bootstrap-table
 */
.delete-popover::part(content) {
    --width: 400px;
    --min-width: 300px;
    --max-height: 650px;
    position: fixed !important;
}

/**
Component used in ion-input in SamplingComp.tsx to center the text in data, label, weight size
 */
.ion-input {
    text-align: center !important;
}