/**
This script is used for the css components for bootstrap-tables used in SamplingComp.tsx
 */

@import '../../../../theme/variables.css';

.round-bar {
    margin-left: 8px;
    margin-right: 8px;
    width: 64px;
    height: 18px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background: red;
}

.label-table-dataset {
    height: 20em;
    table-layout: fixed;
    word-wrap: break-word !important;
    overflow-y: auto;
}

td {
    white-space: normal !important;
    word-wrap: break-word;
}

.ion-item-table {
    --ion-item-background: transparent !important;
    --ion-border-color: transparent !important;
    display: inline-flex !important;
}

.label-table-active {
    background-color: var(--ion-color-primary);
}

.label-table-active ion-label {
    color: white;
    font-weight: 600;
}